<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card overflow-hidden m-0" style="box-shadow: none;background: #f3f5f7;">
                <div class="card-body" style="box-shadow: none;background: #f3f5f7;">
                    <div class="text-center ">
                        <div class="img m-auto">
                            <lottie-player src="assets/images/loader/loader.json" background="transparent" speed="1"
                                style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>