<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card overflow-hidden">
                <div class="bg-login text-center">
                    <div class="bg-login-overlay"></div>
                    <div class="position-relative">
                        <h5 class="text-white font-size-20">Welcome Back !</h5>
                        <p class="text-white-50 mb-0">Sign in to continue</p>
                        <a href="index.html" class="logo logo-admin mt-4">
                            <img src="assets/images/logo-sm-dark.png" alt="" height="30">
                        </a>
                    </div>
                </div>
                <div class="card-body pt-5">
                    <div class="p-2">
                        <form class="form-horizontal" [formGroup]="LoginForm" (ngSubmit)="LoginUser()">

                            <div class="mb-3">
                                <label class="form-label" for="Username">Username</label>
                                <input formControlName="Username" type="text" class="form-control" placeholder=""
                                    required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="userpassword">Password</label>
                               <input formControlName="Password" type="password"
                                                        class="form-control" placeholder="" required>
                            </div>

                            <div class="mt-5">
                                <button class="btn btn-primary w-100 waves-effect waves-light" type="submit" [disabled]='Isloading'>Log
                                    In</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="mt-5 text-center">
                <p>©
                    <script>document.write(new Date().getFullYear())</script>Crafted with <i
                        class="mdi mdi-heart text-danger"></i> by GulfTurism
                </p>
            </div>

        </div>
    </div>
</div>