.loading {
    position: absolute;
    z-index: 99999;
    background: rgb(255 255 255 / 85%);
    width: 100%;
    height: 100%;
}

.loading .loader {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;

}

.loading lottie-player {
    margin: auto;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 30%;
}

.loading.loader-hide {
    display: none;
}

.pagination {
    --bs-pagination-font-size: .75rem;
}

.form-label {
    margin-bottom: 0.1rem;
}

.account-pages {
    padding-top: 5rem !important;
}

form.ng-submitted.ng-invalid .ng-invalid {
    border-color: red !important;
}

fieldset.form-group {
    margin-bottom: .65rem;
}

form label,
fieldset.form-group label {
    margin-bottom: 0rem;
    font-size: 12px;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    vertical-align: middle;
}

body[data-layout=detached] .vertical-menu .user-img img {
    padding: 0px;
}

.form-group label {
    width: 100%;
}

.pl-05 {
    padding-left: 5px;
}

.pr-05 {
    padding-right: 5px;
}

.toast-top-right.toast-container p {
    margin-bottom: 0px;
}

.toast-container .ngx-toastr {
    min-width: 350px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 3px;
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
    right: 5px;
}

.form-control {
    height: 38px;
}


.dropzone {
    min-height: 300px;
    border: 1px solid #283d92;
}


.dropzone .dz-message.half {
    font-size: 14px;
    padding-top: 55%;
    line-height: 16px;
}

.dropzone .dz-message:before {
    padding-top: 20%;
}

.dropzone .dz-message:before {
    content: "\ec69";
    font-family: 'boxicons';
    font-size: 2.5rem;
    position: absolute;
    top: 80px;
    width: 80px;
    height: 80px;
    display: inline-block;
    left: 50%;
    margin-left: -40px;
    line-height: 1;
    z-index: 2;
    color: #45cb85;
    text-indent: 0px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.dropzone .dz-message.half:before {
    top: 60px;
}

.dropzone .dz-message {
    height: 100%;
    top: 10%;
    font-size: 18px;
    text-align: center;
    line-height: 8px;
    padding-top: 25%;
}

.dropzone .dz-message.half:before {
    padding-top: 50%;
    font-size: 2.5rem;
}

.dz-message small {
    color: orange;
    line-height: 50px;
}

.dz-message.half small {
    line-height: 35px;
}

.dz-message input {
    display: none;
}

.dz-message .img-box {
    width: calc(100% - 40px);
    height: calc(100% - 10px);
    position: absolute;
    z-index: 2;
    top: 4px;
    left: 20px;
    background-color: #f2f4f4;
    /* display: none; */
}

.card-body .attachments .col-md-4,
.card-body .attachments .col-md-3 {
    margin-bottom: 30px;
}

.card-body .attachments .des {
    margin-top: 50px;
    padding: 0px 30px;
    line-height: 18px;
    text-align: center;
}

.card-body .attachments .des small {
    font-size: 10px;
    line-height: 0px;
    color: #1a233a;
    text-align: center;
}

.dz-message .img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 5px;
}

.visa-upload img {
    margin: auto;
    width: 100%;
    object-fit: contain;
    height: 200px;
    margin-top: 45px;
}


.dz-message .btn {
    padding: 5px 5px 5px 5px;
    position: absolute;
    top: 9px;
    left: 25px;
    z-index: 10;
    width: 32px;
    height: 32px;
    font-size: 16px;
}

.dz-message .img-box .btn {
    padding: 5px 8px 5px 8px;
    position: absolute;
    top: 5px;
    right: 85px;
    z-index: 100;
    left: unset;
}

.dz-message .btn.btn-primary {
    right: 5px;
    left: unset;
}

.dz-message .btn.btn-danger {
    right: 45px;
    left: unset;
}

.dz-message .btn.btn-warning.local {
    right: 118px;
    left: unset;
}

body.sidebar-enable .vertical-menu {
    overflow: hidden;
}

@media (min-width: 992px) {
    body[data-layout=detached] .toggle-btn {
        display: none;
    }
}

@media (max-width: 1350px) {
    .vertical-menu {
        display: none;
        overflow: hidden scroll;
    }

    body[data-layout=detached] .toggle-btn {
        display: block;
    }

    .navbar-brand-box {
        width: auto;
    }

    body[data-topbar=colored] .logo-dark,
    body[data-topbar=dark] .logo-dark {
        display: none;
    }



    .logo span.logo-sm {
        display: inline-block;
    }

    .logo span.logo-lg {
        display: none;
    }
}