<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title mb-0 font-size-18">Add New User</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Users Management</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/users'">Office Users</a></li>
                    <li class="breadcrumb-item active">New User</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New Office User</h4>
                <form class="form" #RegForm [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group">
                                    <label >Company Name*
                                    </label>
                                    <select class="select2 form-select" required formControlName="companyId">
                                        <option value="">Select Item</option>
                                        <option *ngFor="let data of CompanyArr"
                                                    [value]="data.id">
                                                    {{data.companyName}}</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group">
                                    <label>User Name*
                                    </label>
                                    <input type="text" class="form-control" formControlName="UserName" required>
                                </fieldset>
                            </div>

                            <div class="col-md-4">
                                <fieldset class="form-group">
                                    <label>E-Mail*
                                    </label>
                                    <input type="email" class="form-control" formControlName="Email" required>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group">
                                    <label>First Name*
                                    </label>
                                    <input type="text" class="form-control" formControlName="FirstName" required>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group">
                                    <label>Last Name*
                                    </label>
                                    <input type="text" class="form-control" formControlName="LastName" required>
                                </fieldset>
                            </div>
                            <div class="col-md-2">
                                <fieldset class="form-group">
                                    <label>Phone Number
                                    </label>
                                    <input type="text" class="form-control" formControlName="PhoneNumber" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-2">
                                <fieldset class="form-group">
                                    <label>Actice/DeActive</label>
                                    <div class="checkbox form-control">
                                        <input type="checkbox" class="checkbox-input" id="IsConfirm"
                                            formControlName="IsConfirm">
                                        <label for="IsConfirm"></label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <hr>
                        <div class="row ">
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-success waves-effect waves-light" [disabled]='Isloading'>
                                    <i class="bx bx-plus font-size-16 align-middle me-2"></i>
                                    Submit</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>