<div class="vertical-menu">

    <div class="h-100">

        <div class="user-wid text-center py-4">
            <div class="user-img">
                <img src="assets/images/users/avatar-2.jpg" alt="" class="avatar-md mx-auto rounded-circle">
            </div>

            <div class="mt-3">

                <a href="#" class="text-dark fw-medium font-size-16">{{FullName}}</a>
                <p class="text-body mt-1 mb-0 font-size-13">{{Company}}</p>

            </div>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-airplay"></i>
                        <span>Dashboard</span>
                    </a>

                    <ul class="sub-menu" aria-expanded="false">
                        <li><a [routerLink]="'/home'">Home</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-account-check"></i>
                        <span>Users Management</span>
                    </a>

                    <ul class="sub-menu" aria-expanded="false">
                        <li routerLinkActive=""><a [routerLink]="'/users'">Back Office</a>
                        </li>
                        <li routerLinkActive=""><a [routerLink]="'/changepassword'">Change Password</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>